body {
  background-color: rgb(24, 24, 24);
  color: rgb(240, 240, 240);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
h1 {
  color: #ffffff;
}
.button-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}
button:hover {
  opacity: 0.8;
}
#result {
  margin-top: 20px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.scoreboard {
  margin-top: 20px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}
.scoreboard div {
  margin-top: 5px;
}

img {
  height: 75px;
}
.title {
  font-size: 30px;
}
.move-button {
  background-color: transparent;
  border: 0.2rem solid white;
  padding: 3rem;
  margin: 0.5rem;
  border-radius: 100px;
}

p {
  display: inline-block;
}
